# Data files
*.parquet
*.csv
*.zip
*.zip.part
taxoncache.json
duckdb.query
*.zip.url
todo.txt
taxon_cache.json
printcsv.py

# Cache/tiles
.inat-visualizer-cache/
database_stats.json*
inat_api_cache.db*
tilecache*.png
tilecache/
tile_cache/

# Other generated
__pycache__/
*.pyc
